/* src/components/RoulettePage.css */
html {
    background-color: #221C35;
}

.main-content2 {
    margin-left: 100px;
    padding-left: 20px;
    padding-top: 100px;
    width: calc(100% - 100px);
    background-color: #221C35;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roulette-container {
    position: relative;
    width: 300px; /* Adjust size as needed */
    height: 380px; /* Adjust size as needed */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wheel {
    margin-top: 24px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 70%;
    animation: spin 0s ease-out; /* Initialize with no animation */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: black;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #21a1f1;
}

.betting-table {
    display: grid;
    grid-template-columns: repeat(13, 50px); /* Adjust for number of columns */
    grid-gap: 5px; /* Space between cells */
    margin-top: 20px;
}

.betting-cell {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px; /* Adjust font size as needed */
}

.betting-cell.red {
    background-color: red;
    color: white;
}

.betting-cell.black {
    background-color: black;
    color: white;
}

.betting-cell.even {
    background-color: yellow;
}

.betting-cell.odd {
    background-color: brown;
    color: white;
}

.betting-cell:hover {
    opacity: 0.8;
}

.betting-cell span {
    display: block;
    width: 100%;
    text-align: center;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.table-header {
    font-weight: bold;
    padding: 10px 0;
    color: yellow;
}

.table-footer {
    margin-top: 20px;
    font-weight: bold;
    padding: 10px 0;
    color: yellow;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(var(--final-angle));
    }
}
