html {
    background-color: #221C35;
  }
  
  .defi-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #221C35;
    color: white;
  }
  
  .main-content5 {
    margin-left: 100px;
    padding-left: 20px;
    padding-top: 100px;
    height: 100%;
    background-color: #221C35;
    width: 90%;
  }
  
  .welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .balance-display {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #FFD700;
  }
  
  .balance-amount {
    color: #FFD700;
    font-size: 2em;
    margin-left: 10px;
  }
  
  .borrowing-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .borrowing-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #302A4C;
    padding: 20px;
    border-radius: 10px;
  }
  
  .borrow-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .borrow-box div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .borrow-box input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .borrow-buttons {
    display: flex;
    gap: 10px;
  }
  
  .borrow-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: gold;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .deposit-collateral {
    margin-top: 20px;
    background-color: #221C35;
  }
  
  .collateral-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .collateral-table th, .collateral-table td {
    padding: 15px;
    border: 1px solid #444;
    text-align: left;
  }
  
  .collateral-table th {
    background-color: #302A4C;
  }
  
  .collateral-table td {
    background-color: #221C35;
  }
  
  .token-logo {
    width: 30px;
    height: 30px;
  }
  
  .current-balance {
    font-size: 1.2em;
    margin-left: 10px;
  }
  
  .current-label {
    margin-left: 5px;
    color: #888;
  }
  
  .borrow-box input::placeholder {
    color: #888;
  }
  