/* DiscoverPage.css */
.discover-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #221C35;
  color: white;
}

.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1000;
}

.logo-button button {
  font-size: 1.2em;
}

.header-buttons button {
  margin-left: 10px;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100px;
  height: calc(100% - 60px);
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar button {
  margin: 10px 20px;
  padding: 10px;
  color: #ffffff;
  background-color: #495057;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 1em;
}

.sidebar button:hover {
  background-color: #6c757d;
}

.main-content4 {
  margin-left: 120px;
  padding: 20px;
  padding-top: 80px;
  flex-direction: row;
}

.header-content {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h1 {
  margin-top: 0;
  text-align: left;
}

.balance-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.image-gallery {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 20px;
  overflow-x: auto;
  padding-bottom: 20px; /* Add some padding to avoid clipping */
}

.image-container {
  position: relative;
  flex: 0 0 auto;
  width: 25%; /* Reduced the width to make images smaller */
  margin-right: -90px;
}

.image-container img {
  width: 50%;
  height: 300px; /* Reduced the height to make images smaller */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-info {
  position: absolute;
  bottom: 10px;
  left: 25%;
  right: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  width: 50%;
}

.game-name {
  font-size: 1em;
}

.game-price {
  font-size: 1em;
}

.search-bar {
  margin-top: 20px;
  width: 100%;
}

.search-bar input {
  background-color:#221C35;
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}
